* {
    font-family: "Roboto", sans-serif;
}

nav {
    height: 50px;
    background-color: #212121;
}

.container {
}

.logo {
    max-width: 100%;
    text-decoration: none;
}

.logo__img {
    margin: 16px 0 2px;
}

.logo_text {
    font-weight: 200;
    font-size: 13px;
    color: rgba(255, 255, 255, .6);
}

.label {
    width: 112px;
    height: 24px;
    background-color: #000;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;

    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.title {
    font-weight: 700;
    font-size: 38px;

    text-transform: uppercase;
    text-align: center;
    color: #222;
}

.subtitle {
    font-weight: 400;
    font-size: 17px;

    line-height: 21px;
    text-align: center;
    color: #222;
}

.button {
    font-weight: 400;
    font-size: 14px;

    line-height: 46px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.21);

    border: none;
    border-radius: 4px;
    width: 172px;
    height: 46px;

    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    background: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
}

/*------------------------------*/

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;

    list-style-type: none;
    margin: 0;
}

.menu__item {
    border-right: 2px dotted #000;
    padding-right: 28px;
}

.menu__item:last-child {
    border-right: none;
    padding-right: 0;
}

.menu__link {
    font-weight: 300;
    font-size: 15px;

    line-height: 15px;
    color: #fff;
    text-decoration: none;
}

/*------------------------------*/

.subheader {
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, .6);
}

.subheader__logo {

}

.subheader__text-call {
    margin: 16px 0 5px;

    font-weight: 300;
    font-size: 12px;

    text-align: right;
    color: #fff;
}

.subheader__contact {
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    text-align: right;
    color: #fff;
}

.subheader__btn {
    margin: 16px 0 20px;
}

/*------------------------------*/

.promo {
    padding: 150px 0 135px;
    min-height: 800px;
    background: url("../img/bg/header-bg.jpg") center center/cover no-repeat;
}

.promo__title {
    margin: 67px 0 0;

    font-weight: 900;
    font-size: 60px;
    line-height: 60px;

    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.promo_subtitle {
    margin: 14px 0 0;

    font-weight: 700;
    font-size: 36px;
    line-height: 36px;

    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.promo_text {
    margin-top: 26px;

    font-weight: 400;
    font-size: 18px;

    text-align: center;
    color: #fff;
}

.promo__button {
    display: block;
    margin: 115px auto 0;

    width: 259px;
    height: 63px;

    font-weight: 400;
    font-size: 18px;

    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.21);
}

/*------------------------------*/

.reasons {
    padding-bottom: 64px;
}

.reasons__header-mini {
    margin: 19px auto 0;
}

.reasons__header {
    margin: 40px auto 0;
}

.reasons__block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 26px 0 0;
}

.reason__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 116px;
    height: 116px;

    border-radius: 100%;
    background-color: #1eacc7;
}

.reasons__img {
}

.reasons__text {
    width: 343px;
}

.reasons__title {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    color: #1eacc7;
}

.reasons__description {
    font-weight: 300;
    font-size: 15px;
    color: #202020;
    line-height: 21px;
}

/*------------------------------*/

.mobile {
    min-height: 864px;
    background: url("../img/bg/mobile-bg.jpg");
    padding: 46px 0 80px;
}

.mobile__label {
    margin: 0 auto 0;
}

.mobile__title {
    margin: 40px auto 0;
}

.mobile__subtitle {
    margin: 18px auto 0;
}

.mobile__card {
    position: relative;
    margin: 20px auto 0;

    width: 320px;
    height: 280px;
}

.mobile__card-img {
    padding-top: 10px
}

.mobile__card-text {
    display: block;
    position: absolute;
    min-width: 320px;
    top: 84px;
    font-weight: 400;
    font-size: 24px;

    line-height: 31px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}