* {
    box-sizing: border-box;
}


body {
    background-color: blueviolet;
    /*text-align: center;*/
}

h1 {
    color: blue;
}

ul li {
    color: chocolate;
}

.second {
    color: #ff00d2;
}

#first-li-el {
    color: deepskyblue;
}

h3 {
    color: rgb(255, 255, 255);
}

h2 {
    text-align: right;
    font-weight: 100;
    font-style: italic;
    /*text-decoration: underline;*/
    text-decoration: line-through deepskyblue;
    font-size: 40px;
}

/*----------------------------------------*/

.box {
    display: inline-block;
    vertical-align: middle;
    /*position: absolute;*/
    width: 300px;
    height: 300px;
    background-color: #14dc17;
    padding: 20px 40px 30px 50px;
    /*border-width: 10px;*/
    /*border-style: solid;*/
    /*border-color: #f8022f;*/
    border: 10px solid #f8022f;
    margin: 40px 30px 50px 30px;
    z-index: 3;
}

.blue {
    color: blue;
}

.purple {
    color: purple;
}

/*Block*/
/*Inline*/
/*Inline-block*/

a {
    padding: 20px;
    margin: 50px;
}

img {
    display: block;
    margin: 0 auto;
    width: 400px;
    /*float: right;*/
}

/*position*/
/* static, relative, absolute, fixed */
nav {
    position: inherit;
    /*left: 130px;*/
    /*top: 100px;*/
    /*right: 50px;*/
    /*bottom: 10px;*/

}

.example {
    position: relative;
    background-color: #f8022f;
    height: 700px;
}

.red {
    /*position: absolute;*/
    background-color: red;
    left: 100px;
    height: 100px;
    z-index: 4;
}

.example2 {
    /*position: relative;*/
}

