body {
    background-color: blueviolet;
    text-align: center;
}

h1 {
    color: blue;
}

ul li {
    color: chocolate;
}

.second {
    color: #ff00d2;
}

#first-li-el {
    color: deepskyblue;
}

h3 {
    color: rgb(255, 255, 255);
}

h2 {
    text-align: right;
    font-weight: 100;
    font-style: italic;
    /*text-decoration: underline;*/
    text-decoration: line-through deepskyblue;
    font-size: 40px;
}

/*----------------------------------------*/

.box {
    width: 300px;
    height: 300px;
    background-color: crimson;
    padding: 20px 40px 30px 50px;
    /*border-width: 10px;*/
    /*border-style: solid;*/
    /*border-color: #f8022f;*/
    border: 10px solid #f8022f;
    margin: 40px 30px 50px 30px;
}